*{
  padding: auto;
  margin: auto;
}

header {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  margin: auto;
  height: 80px;
  padding: auto;
}
header h1 {
  color: #ffffff;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#logo {
  background-color: #4aaaa5;
  float: left;
  display: block;
  margin-left: 200px;
  height: 40px;
  padding: 20px;
}

#nav {
  float: right;
  padding-right: 100px;
  margin-top: 20px;
}
ul {
  text-decoration: none;
  list-style-type: none;
}
li {
  float: left;
}
li a {
  display: inline-block;
  width: 80px;
  margin: 0 10px;


}

body {
  margin: auto;
  text-align: center;
  width: 100%;
  background-image: url("images/lilypads.png");
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
  font-size: 1em;
}

main {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  max-width: 960px;
  padding: 20px;
  text-align: left;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 80px;

}
main p{
  margin: 10px;
  line-height: 2em;
}

main h1 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}


main h1 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

main img {
  float: left;
  margin-right: 15px;
  min-width: 200px;
  overflow: auto;
}

footer {
  background-color: #666666;
  text-align: center;
  padding: 10px;
  color: #ffffff;
  border-top: 3px solid #4aaaa5;
}

input {
  height: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  width: 98%;
  padding: 5px;
}

textarea {
  width: 98%;
  height: 100px;
  padding: 5px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

input[type=submit] {
  background-color: #4aaaa5;
  color: white;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  float: left;
  margin-top: 5px;
  height: 30px;
  width: 100px;
}

@media only screen and (max-width: 960px) {
  div#logo {
  margin-left: 20px;
  }

  main img {
      width: 100%;
      max-width: 200px;
  }

  main {
      width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  div#logo {
      margin-left: 20px;
  }

  main img {
      width: 100%;
      max-width: 200px;
  }

  main {
      width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  div#logo {
      margin-left: 20px;
  }

  main img {
      width: 100%;
      max-width: 200px;
  }

  main {
      width: 90%;
  }
}